body {
    background-color: #000000;
    color: #ffffff; /* Changed to white for better contrast */ 
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'JetBrains Mono Nerd Font', monospace;
}
@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}   
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #91b5f4; /* Changed to a brighter blue */
    transition: color 0.3s;
}

a:hover {
    color: #f0f0f0; /* Changed hover color to a light gray */
}

.document-section {
    margin-top: 20px;
}

.document-box {
    border: 2px solid rgb(255, 255, 255);
     margin: 10px 0; 
   padding: 15px; 
    border-radius: 5px; /* Optional: for rounded corners */
}

footer {
  /*  position: absolute;
    bottom: 0; */
    margin-top: auto;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}
h1 {
    text-align: center;
    margin: 0px;
    padding: 15px;
    color: #8EB1EE;
    text-decoration: underline;
    text-underline-offset: 10px;
}   
h2 {
    margin: 5px;
    padding: 5px;
}
.mainly {
    padding: 50px;
    max-width: 90%;
    line-height: 200%;
}
.the-beginning {
    text-decoration: underline wavy;
    color: rgb(158, 247, 203);
}
button {
  margin: 20px;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  outline: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(255, 0, 0)
}   
input {
    background-color: #000000;
    text-align: left;
    float: right;
}
.hidden {
  display: none;
}

#searchForm {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  width: 300px;
  float: right;
}   
#searchInput {
    width: 100%;
    float: right;
    display: block;
    box-sizing: border-box;
    color: #ffffff;
}
#searchBtn {
    float: right;
}
header {
    background-color: #000000;
}
h3 {
    margin: 50px;
    padding: 0px;
}
.spcl {
    width: 50%;
} 
hr {
    width: 50%;
}